# Database
DATABASE_URL="postgresql://user:password@localhost:5432/mailit?schema=public"

# Example for Railway or other cloud providers:
# DATABASE_URL="postgresql://postgres:password@containers-us-west-123.railway.app:5432/railway"
